.sidebar{
    height: calc(100vh - 64px);
}


.drawer{
    background-color: #005cbb;
}
.side-nav-ele{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    
}