<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer class="drawer" mode="side" [(opened)]="isOpen">

    <mat-nav-list class="sidenav-main">
      <a  routerLink="home" class="side-nav-ele" routerLinkActive="active-list-item">
        <button  mat-raised-button >Home</button>
      </a>
      <a  routerLink="home" class="side-nav-ele" routerLinkActive="active-list-item">
        <button  mat-raised-button >Home</button>
      </a>
      <a  routerLink="home" class="side-nav-ele" routerLinkActive="active-list-item">
        <button  mat-raised-button >Home</button>
      </a>
      
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidebar">
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>